<div class="container mt-5">
  <% if @bugs.length == 0 %>
    <h1>No bugs created yet</h1>
  <%else %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
    <% @bugs.each do |bug| %>
    <div class="card text-center shadow mb-5 bg-white rounded", id="bugindex">
      <div class="card-header">
        <%= bug.bug_type.upcase %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= bug.title %>
          <span
            <% if bug.status == 'new'%>class="badge badge-primary"
            <% elsif bug.status == 'started'%>class="badge badge-secondary"
            <% else %>class="badge badge-success"
              <% end %>><%= bug.status %>
          </span>
        </h5>
        <p class="card-text"><%= bug.description %></p>
        <p class="card-text">project name : <%= bug.project.name %></p>
        <%= link_to 'Show', bug_path(bug), class:"btn btn-info"%>
      </div>
      <div class="card-footer text-muted">
        <% if !bug.deadline.nil? %>
          Deadline : <%= bug.deadline %>
        <%end %>
      </div>
    </div>
    <% end %>
      </div>
    </div>
  <% end %>
</div>

