<%= render 'shared/error', obj:@bug%>
<%= form_with(model: @bug, local: true ) do |f|%>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description  %><br>
  <%= f.text_area :description%><br>

  <%= f.label :deadline  %><br>
  <%= f.datetime_local_field :deadline%><br>


  <select name="bug[bug_type]" id="bug_bug_type" onChange="changeStatus(this.value);">
    <option value="" disabled selected>Select</option>
    <option value="feature">feature</option>
    <option value="bug">bug</option>
  </select>


  <select name="bug[status]" id="bug_status">
    <option value="" disabled selected>Select</option>
  </select>
  <br>
  <%= f.label :project_id,'Project name'  %><br>
  <%= f.collection_select(:project_id, Project.all, :id, :name,
                          { prompt: "Make your selection from the list below (can't be empty)"}) %>

<!--  <select name="meal" id="meal" onChange="changecat(this.value);">-->
<!--    <option value="" disabled selected>Select</option>-->
<!--    <option value="A">A</option>-->
<!--    <option value="B">B</option>-->
<!--    <option value="C">C</option>-->
<!--  </select>-->
<!--  <select name="category" id="category">-->
<!--    <option value="" disabled selected>Select</option>-->
<!--  </select>-->

<!--  <%#= f.label :status  %><br>-->

<!--  <%#= f.select :status, ['feature', 'bug']%><br>-->

  <%= f.submit class: "btn btn-success" %>

<% end %>